html {
    position: relative;
    min-height: 100%;
}
body{
    overflow-x:hidden;
    max-width: 100%;
    margin:0;
    margin-bottom: 150px;

}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Andika';
    
}
#bg{
    background-image: url(https://source.unsplash.com/featured/?men,fashion,sneakers);
    /*https://images.unsplash.com/photo-1549942686-486aa99d2223*/
    background-repeat: no-repeat;
    min-height:600px;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    text-align: center;
}
#offer{
    background-image: url(https://unsplash.com/photos/tvG4WvjgsEY);
    /*https://images.unsplash.com/photo-1549942686-486aa99d2223*/
    background-repeat: no-repeat;
    min-height:600px;
    background-attachment: fixed;
    background-position: center;
    background-size:cover;
    text-align: center;
}

#banner_content {
    background-color: rgba(0, 0, 0, 0.7);
    
}
.carousel-inner img {
    width: 100%;
    height:100%;
}

.container  a {
    color:black;
}
.container a:hover{
    color:grey;
    
}
#size{
    max-height:200px;
}


.cardpad{
    margin-right: 30px;
}


.reviews .review-slider{
    padding-bottom: 3rem;
}

.reviews .review-slider .box{
    text-align: center;
    padding:2rem;
    margin: 2rem 0;
    opacity: .4;
    transform: scale(.9);
    background-color: #f4fec6;
}

.reviews .review-slider .swiper-slide-active{
    opacity: 1;
    transform: scale(1);
    box-shadow: var(--box-shadow);
    border:var(--border);
    border-radius: .5rem;
}

.reviews .review-slider .box img{
    height:7rem;
    width:7rem;
    border-radius: 50%;
    object-fit: cover;
}

.reviews .review-slider .box .content p{
    color:var(--light-color);
    font-size: 1.4rem;
    padding:1rem 0;
}

.reviews .review-slider .box .content h3{
    color:var(--black);
    font-size: 2.2rem;
    padding-bottom: .5rem;
}

.reviews .review-slider .box .content .stars i{
    color:var(--yellow);
    font-size: 1.7rem;
}